{{#if dysylatest}}
<div title="dysylatest" class="col-xs-12 item">
    <h3>Dynamic Signal</h3>
    <div class="well dysylatest">
        
        <div class="title">
            {{{dysylatest.title}}}
        </div>
        
        <hr style="margin:5px;">
        
        {{#if dysylatest.comment}}
            <div class="comment">
                {{{dysylatest.comment}}}
            </div>
        {{/if}}
        
        {{#if dysylatest.description}}
            <div class="description">
                {{{dysylatest.description}}}
            </div>
        {{/if}}

        <footer class="src">{{dysylatest.author}} &bull; {{dysylatest.date}}</footer>

    </div>
</div>
{{/if}}