{{!-- {{#if history}} --}}
<div title="History" class="col-xs-12 item">
    <h3>Formula 1</h3>
    <div class="well formula1">
        <p>RACE 1 &mdash; Australian Grand Prix</p>
        <table>
            <tr>
                <td>
                    <img src="https://www.formula1.com/content/dam/fom-website/2018-redesign-assets/Track%20icons%204x3/Australia%20carbon.png.transform/8col/image.png">
                </td>
                <td>
                    <table>
                        <tr>
                            <td>20:00</td>
                            <td>Thursday</td>
                            <td>Practice 1</td>
                        </tr>
                        <tr>
                            <td>00:00</td>
                            <td>Friday</td>
                            <td>Practice 2</td>
                        </tr>
                        <tr>
                            <td>22:00</td>
                            <td>Friday</td>
                            <td>Practice 3</td>
                        </tr>
                        <tr>
                            <td>01:00</td>
                            <td>Saturday</td>
                            <td>Qualifying</td>
                        </tr>
                        <tr>
                            <td>00:10</td>
                            <td>Sunday</td>
                            <td>Race</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>
</div>
{{!-- {{/if}} --}}