{{#if history}}
<div title="History" class="col-xs-12 item">
    <h3>Today in {{#if history.year}}{{history.year}}{{else}}History{{/if}}</h3>
    <div class="well">
        <div class="history">{{history.history}}</div>
        <hr style="margin:5px;">
        <div class="excrept">
            <p>{{history.excrept1}}</p>
            {{#if history.excrept2}}<p>{{history.excrept2}}</p>{{/if}}
            <footer class="src">history.com</footer>
        </div>
    </div>
</div>
{{/if}}