{{#if movies}}
<div title="Movies" class="col-xs-12 item">
    <h3>{{movies.title}}</h3>
    <div class="well movies">
        <table>
            {{#each movies}}
            <tr>
                <td width="51">{{#if icon}}<img class="icon" src="{{icon}}">&nbsp;{{/if}}{{#if score}}{{score}}{{else}}<span class="noscore">No Score Yet</span>{{/if}}</td>
                <td>{{movie}}</td>
                <td>{{money}}</td>
            </tr>
            {{/each}}
        </table>
        <footer class="src">rottentomatoes.com</footer>
    </div>
</div>
{{/if}}