{{#if news}}
    {{#each news}}
    <div title="News" class="col-xs-12 item">
        <div class="well news">
            <h2>{{headline}}</h2>
            <p>{{content}}</p>
            <footer class="src">{{date}} &bull; {{source}}</footer>
        </div>
    </div>
    {{/each}}
{{/if}}