{{#if science}}
<div title="Science" class="col-xs-12 item">
    <h3 class="tight">TRENDING SCIENCE</h3>
    {{#ifsingle science}}
    <div class="well til science">
        <table width="100%">
            {{#each science}}
            <tr>
                <td>
                    <img src="assets/img/science-icons/{{icon}}.png" width="50" style="width:50px;">
                </td>
                <td>
                    <p>{{content}}</p>
                    <footer class="src">{{src}}</footer>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{else}} {{#each science}}
    <div class="well multiple til science">
        <table width="100%">
            <tr>
                <td>
                    <img src="assets/img/science-icons/{{icon}}.png" width="35" style="width:35px;">
                </td>
                <td>
                    <p>{{content}}</p>
                    <footer class="src">{{src}}</footer>
                </td>
            </tr>
        </table>
    </div>
    {{/each}} {{/ifsingle}}
</div>
{{/if}}