{{#if sportNHL}}
<div title="NHL" class="col-xs-12 item">
    <h3>NHL YESTERDAY</h3>
    <div class="well sport nhl">
        {{#each sportNHL}}
        <div class="col-xs-{{bs_col}} game">
            <table align=center>
                <tr>
                    <td class="score">
                        {{{score1}}}
                    </td>
                    <td class="logo">
                        <img src="{{logo1}}" alt="">
                    </td>
                    <td class="abrev">
                        {{{abrev1}}}
                    </td>
                </tr>
                <tr>
                    <td class="score">
                        {{{score2}}}
                    </td>
                    <td class="logo">
                        <img src="{{logo2}}" alt="">
                    </td>
                    <td class="abrev">
                        {{{abrev2}}}
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="gameseries">
                        {{{series}}}
                    </td>
                </tr>
            </table>
        </div>
        {{/each}}
        <div style="clear:both;"></div>
    </div>
</div>
{{/if}}