{{#each sportMLB}} {{#if team}}
<div title="MLB" class="col-xs-12 item">
    <div class="well mlb {{team}}">
        <div class="team-wrap">
            <table class="score">
                <tr>
                    <td>
                        <img src="{{game.awayLogo}}" class="logo" />
                    </td>
                    <td class="team" {{#if game.awayWin}} style="font-weight:700;" {{/if}}>{{game.awayTeam}}</td>
                    <td class="runs" {{#if game.awayWin}} style="font-weight:700;" {{/if}}>{{game.awayScore}}</td>
                    <td class="hits">{{game.awayHits}}
                        <div class="ticks">H E</div>
                    </td>
                    <td class="err">{{game.awayErrors}}</td>
                </tr>
                <tr>
                    <td>
                        <img src="{{game.homeLogo}}" class="logo" />
                    </td>
                    <td class="team" {{#if game.homeWin}} style="font-weight:700;" {{/if}}>{{game.homeTeam}}</td>
                    <td class="runs" {{#if game.homeWin}} style="font-weight:700;" {{/if}}>{{game.homeScore}}</td>
                    <td class="hits">{{game.homeHits}}</td>
                    <td class="err">{{game.homeErrors}}</td>
                </tr>
            </table>

            {{#if standings}}
            <table class="standings">
                </tr>
                <th></th>
                <th>W</th>
                <th>L</th>
                <th>GB</th>
                <th>L10</th>
                </tr>
                {{#each standings}}
                <tr{{#if featured}} style="font-weight:700;" {{/if}}>
                    <td style="text-transform:uppercase;">{{{last_name}}}</td>
                    <td>{{won}}</td>
                    <td>{{lost}}</td>
                    <td>{{games_back}}</td>
                    <td>{{last_ten}}</td>
                    </tr>
                    {{/each}}
            </table>
            {{/if}} {{#if series}}
            <table class="series">
                <tr>
                    <td class="s-des">
                        {{series.description}}
                    </td>
                </tr>
                <tr>
                    <td class="s-ven">
                        {{series.venue}}
                    </td>
                </tr>
                <tr>
                    <td class="s-score">
                        {{series.score}}
                    </td>
                </tr>
                <tr>
                    <td class="s-teams">
                        {{series.teams}}
                    </td>
                </tr>
            </table>
            {{/if}}
        </div>
    </div>
</div>
{{/if}} {{/each}}