{{#if til}} 
    <div title="TIL" class="col-xs-12 item">
        <h3>TODAY I LEARNED</h3>
        {{#ifsingle til}}
            <div class="well til">
                {{#each til}}
                    <p>{{{content}}}</p>
                    <footer class="src">{{src}}</footer>
                {{/each}}
            </div>
        {{else}}
            {{#each til}}
            <div class="well multiple til" id="TIL{{@index}}">
                    <p>{{{content}}}</p>
                    <footer class="src">{{src}}</footer>
            </div>
            {{/each}}
        {{/ifsingle}}
    </div>
{{/if}} 
