{{#if weather}}
<div title="Weather" class="col-xs-12 item">
    <div class="well weather">
        <div class="row">
            {{#each (limit weather 3)}}
            <div class="col-xs-4">
                <h5>{{day}}</h5>
                <h2>{{temp.hi}}&deg;<span class="low">/&nbsp;{{temp.lo}}</span></h2>
                <p>{{desc}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{/if}}