{{#if word}}
    <div title="Word" class="col-xs-12 item word">
        <h3>Word of the day</h3>
        <div class="well">
            <h2 style="color:#555;margin: 0;">{{word.word}}</h2>
            <span class="pronounce">{{{word.simplePronounce}}}</span>
            {{#each word.categories}}
            <hr style="margin: 6px 0 8px;">
                <p class="cat">{{category}}</p>
                <ol class="defs">
                {{#each definitions}}
                    {{#if notSubsense}}
                        <li class="def{{#if italics}} italics{{/if}}">
                            <strong>{{#if num}}{{num}}{{/if}}:</strong>&nbsp;<span>{{{filtTokens definition}}}</span>
                        </li>
                    {{else}}
                        <ol class="subsense">
                            <li class="def">{{#if num}}<strong>{{num}}:</strong>&nbsp;{{/if}}<span>{{{filtTokens definition}}}</span></li>
                        </ol>
                    {{/if}}
                {{/each}}
                </ol>
            {{/each}}
            
            {{#if word.etymology}}
            <hr>
            <p class="etom">
                {{{filtTokens word.etymology}}}
            </p> 
            {{/if}}
            {{#if word.didyouknow}}
            <hr>
            <div class="didyouknow">
                {{{filtTokens word.didyouknow}}}
            </div> 
            {{/if}}
            {{!-- {{#if word.example}} --}}
            {{!-- <hr> --}}
            {{!-- <div class="example"> --}}
                {{!-- {{{filtTokens word.example}}} --}}
            {{!-- </div>  --}}
            {{!-- {{/if}} --}}
            {{#if word.origin}}
            <p class="origin">
                <img src="{{word.origin}}">
            </p> 
            {{/if}}
            {{#if word.use}}
            <p class="use">
                <img src="{{word.use}}">
            </p> 
            {{/if}}
            <footer class="src">merriam-webster.com</footer>
        </div>
    </div>
{{/if}} 