{{#if worldnews}}
<div title="Worldnews" class="col-xs-12 item">
    <h3 class="tight">TRENDING HEADLINES</h3>
    {{#ifsingle worldnews}}
    <div class="well til science">
        <table width="100%">
            {{#each worldnews}}
            <tr>
                <td>
                    <p>{{content}}</p>
                    <footer class="src">{{src}}</footer>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{else}} {{#each worldnews}}
    <div class="well multiple til science">
        <table width="100%">
            <tr>
                <td>
                    <p>{{content}}</p>
                    <footer class="src">{{src}}</footer>
                </td>
            </tr>
        </table>
    </div>
    {{/each}} {{/ifsingle}}
</div>
{{/if}}