<html>

<head>
    <link href="assets/css/lib/bootstrap-3.3.6/bootstrap-modified-DU.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link href="assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row" style="margin:0;">
            <div class="col-xs-6 left margin-adjust" id="left">

                {{! Logo & Date }}
                <div title="Logo" class="col-xs-12">
                    <div>
                        <img src="assets/img/urinal-logo-short-2.jpg" id="logo-swap" />
                    </div>
                    <div class="date">
                        <span>{{fancyDate}}</span>
                    </div>
                </div>
                
                {{! News }} 
                {{> news}}

                {{! Trending Worldnews }} 
                {{> worldnews}}
                                 
                {{! Dysy Latest }} 
                {{> dysylatest}}

                {{! History }} 
                {{> history}}
                                
                {{! Cartoon }} 
                {{> cartoon}}
                
                {{! Joke }}
                {{! > joke }}
                
                {{! Trending Science }} 
                {{> science}}
                
                {{! Trending Futurology }} 
                {{> futurology}}

                {{! formula1 }} 
                {{!-- {{> formula1}} --}}
                

            </div>
            <div class="col-xs-6 right margin-adjust" id="right">

                {{! Weather }} 
                {{> weather}}
                
                {{! Word of the day }} 
                {{> word}}
                
                {{! TIL }} 
                {{> til}}

                {{! Movies }} 
                {{> movies}}
                
                {{! MLB }} 
                {{> sportMLB}}
                                
                {{! NHL }} 
                {{> sportNHL}}

                {{! NBA }} 
                {{> sportNBA}}
               

            </div>
        </div>
        <div class="disclaimer">DISCLAIMER: For entertainment purposes only. The contents of this aggragate piece reflect the views of the authors and not that of Ragan Communications, Inc. Content is automatically pulled. The content is filtered by the editor for issues regarding layout and obscene content. The editor will never include any personal views or impose political rhetoric. Sources include: ap.org, dictionary.com, google.com, history.org, accuweather.org & various contribuing authors on reddit.com.</div>
    </div>

    <!-- printline -->
    <div id="print-line"></div>

    <!-- Tools -->
    <div id="toolbar-options" class="hidden">
        <a href="#">
            <i class="fa fa-plane"></i>
        </a>
        <a href="#">
            <i class="fa fa-car"></i>
        </a>
        <a href="#">
            <i class="fa fa-bicycle"></i>
        </a>
    </div>

    <!-- Scripts -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
    <script>dragula([document.querySelector('#left'), document.querySelector('#right')], );</script>
    <script type="text/javascript">
        // Content Editable strip formating
        document.querySelector('div[contenteditable="true"]').addEventListener("paste", function (e) {
            e.preventDefault();
            var text = e.clipboardData.getData("text/plain");
            document.execCommand("insertHTML", false, text);
        });
    </script>
    <script src='./assets/js/du-scripts.js'></script>
    <!-- Scripts -->

</body>

</html>