@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,500,700');
body {
    font-family: 'Open Sans' Helvetica, Arial, sans-serif;
}

/* estimate of Legal line */
#print-line { 
    position: absolute;
    top: 1278px;
    height: 1px;
    width: 100%;
    background-color: red;
}

img {
    width: 100%;
}

p {
    line-height: 1.2em;
}

.container {
    padding: 0;
    max-width: 750px;
    /* <--- This should be paper width */
    /* background-color: #ffffff !important; */
    -webkit-print-color-adjust: exact;
}

.row {
    margin: 15px 0;
}

.logo-header {
    padding: 0;
    text-align: center;
    padding-bottom: 9px;
}

.date {
    font-family: Verdana;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 11px;
    padding-top: 7px;
}

.day {
    left: 14px;
}

.col-xs-6.left {
    padding-left: 0;
    /* background-color: #ffffff !important;
    -webkit-print-color-adjust: exact; */
}

.col-xs-6.right {
    padding-right: 0;
    /* background-color: #ffffff !important;
    -webkit-print-color-adjust: exact; */
}

.col-xs-6 .col-xs-12 {
    padding: 0;
}

.col-xs-6.left .col-xs-12,
.col-xs-6.left .col-xs-6 {
    margin-bottom: 15px;
}

.col-xs-6.right .col-xs-12,
.col-xs-6.right .col-xs-6 {
    margin-bottom: 15px;
}

.col-xs-6 .col-xs-6 .col-xs-6 {
    margin-top: 0;
}

hr {
    margin: 10px 0;
}
h2 {
    font-size: 23px;
    margin-top: 13px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue";
    font-weight: 500;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: #B1B1B1;
    font-weight: 100;
    font-size: 13px;
    line-height: 1em;
    letter-spacing: 5px;
    background-color: #ffffff !important;
    -webkit-print-color-adjust: exact;
    padding: 4px 2px 4px 7px;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    border-left: 1px solid #0000002e;
    border-right: 1px solid #0000002e;
    z-index: 99;
    margin: 0 0 -9px 13px;
}

h5 {
    text-align: center;
    color: #B1B1B1;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 0 5px;
}

.well {
    position: relative;
    padding: 12px;
    margin: 0;
    line-height: 21px;
    text-align: center;
    box-shadow: none;
    background-color: rgba(255,255,255,0) !important;
    /* background-color: #ffffff !important;
    -webkit-print-color-adjust: exact; */
}

.word .well p {
    text-align: center;
}
.word .well p:last-of-type {
    margin:0;
}
.word .well li {
    line-height: 1.1em;
}
.word .well p.cat {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    padding-left: 15px;
}
.word .well li.def {
    /* margin-bottom: 5px; */
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    padding-left: 1em;
    text-indent: -1em;
    list-style: none;
    margin-top:4px;
}
.word .well li.def:first-of-type {
    margin-top:0;
}
.word .well li.def.italics {   
    font-size: 12px;
}
.word .well li.def.italics span{
    font-style: italic;
}
.word .well li.def span {
    font-weight: normal !important;
}
.word p.origin img {
    height: auto;
    width: auto;
    padding-top: 8px;
    max-width: 100%;
}

.word .didyouknow p,
.word .example p,
.word .well p.etom {
    font-size:10px;
    text-align: left;
    margin: 0 0 6px;
}

.word .example h2 {
    font-size: 12px;
    text-align: left;
    line-height: 12px;
}

.word span.pronounce {
    font-size: 9px;
    letter-spacing: 1px;
}

.word ol.defs {
    text-align: center;
    /* margin-bottom: 5px; */
    font-size: 12px;
    /* list-style-position:inside; */
}
.word ol.subsense {
    padding-left: 10px;
}
.word ol.subsense li {
    /* text-align: left; */
    list-style: none;
    /* margin:0; */
}


.item .well.multiple {
    border-radius: 0;
    border-top: 0;
}
div.item div.well.multiple:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid #e3e3e3;
}
div.item div.well.multiple:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #e3e3e3;
}

.well p:last-of-type {
    margin: 0;
}

.well .row {
    margin: 0;
}

.weather {
    padding: 10px 5px;
}

.weather .col-xs-4 {
    padding: 0 2.5px;
}

.weather .col-xs-4 h5 {
    text-transform: lowercase;
}

.weather .col-xs-4 h2 span {
    font-size: 11px;
    font-weight: lighter;
    margin-left: -5px;
}

.weather .col-xs-4 p {
    font-size: 9px;
    font-weight: 300;
    padding: 0 3px;
}

.year {
    font-size: 165%;
    font-weight: 100;
    text-align: left;
    margin-left: -4px;
}

.history {
    font-size: 140%;
    font-weight: normal;
    line-height: 1.1em;
    text-align: left;
    font-family: 'Open Sans Condensed', sans-serif;
}

.excrept {
    text-align: left;
    font-size: 10px;
}

.dysylatest .title {
    text-align: left;
    font-family: 'Slabo 27px', serif; 
    font-weight: bold;
    font-size: 18px;
    line-height: 1.1em;
}
.dysylatest .date {

}
.dysylatest .comment {
    text-align: left;
    font-size: 13px;
    line-height: 1.2em;
    font-family: 'Open Sans', sans-serif;

}
.dysylatest .description {
    margin-top: 10px;
    line-height: 1em;
    text-align: justify;
    font-family: serif;
    font-size: 10px;
}





.joke {
    text-align: center;
    font-size: 13px;
}

.joke p {
    margin-bottom: 8px;
}

.joke p:last-of-type {
    margin-bottom: 0;
}

.til {
    text-align: left;
    font-size: 12px;
}
.well.til {
    padding-top:10px;
    padding-bottom:10px;
}
.well.til:first-of-type {
    padding-top:13px;
}

.til p {
    margin: 0;
}

.well footer.src,
.til footer.src {
    text-align: right;
    font-size: 8px !important;
    font-style: italic;
    margin-top: 0;
    margin-bottom: -9px;
    background-color: #ffffff !important;
    -webkit-print-color-adjust: exact;
    padding: 2px 5px;
    line-height: 1em;
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 3px;
    border-radius: 3px;
    border-left: 1px solid #0000002e;
    border-right: 1px solid #0000002e;
    color: rgba(0, 0, 0, 0.6);
    z-index: 9;
}

.news {
    text-align: left;
}

.news h2 {
    padding-bottom: 5px;
    border-bottom: 1px dotted #000;
    margin: 0;
    font-family: georgia;
    line-height: 1.1em;
    font-size: 16px;
    margin-bottom: 6px;
}

.news p {
    font-family: Times New Roman;
    text-align: justify;
    line-height: 1.1em;
    font-size: 11px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 100;
}

.news p:last-of-type {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}



.QA p:last-of-type {
    text-align: left;
    line-height: 1.2em;
    font-weight: 200;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 0 6px;
}

.QA p:first-of-type {
    font-family: cursive;
    letter-spacing: 0.25px;
}

.QA hr {
    margin: 5px 0;
}

#whiteout {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mast {
    position: relative;
    margin-top: 0;
    margin-bottom: 15px;
}

.disclaimer {
    font-size: 8px;
    /* opacity: 0.8;  */
    color: rgba(0, 0, 0, 0.4);
    line-height: 1em;
    position: fixed;
    font-weight: 200;
    bottom: 0;
}

.sport {}

.sport .col-xs-4 {
    padding-bottom: 5px;
}

.sport .score {
    font-size: 18px;
    vertical-align: middle;
}

.sport .score.win {
    font-weight: bold;
}

.sport .abrev {
    text-transform: uppercase;
    font-size: 13px;
}

.sport .gameseries {
    font-size: 9px;
    text-transform: uppercase;
    padding: 3px 0;
    text-align: center;
}

.sport.nba .logo,
.sport.nhl .logo {
    padding: 4px;
}

.sport.nba .logo img,
.sport.nhl .logo img {
    width: 19px;
    min-width: 19px;
}

.sport.nhl {
    padding: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: hidden;
}

.sport.nhl .game {
    border: 1px solid #e3e3e3;
    padding: 0 5px;
}

.sport.nhl .score {
    font-size: 15px;
    vertical-align: middle;
}

.sport.nba .score {
    font-size: 12px;
    vertical-align: middle;
}

.sport.nba .col-xs-12,
.sport.nhl .col-xs-12 {
    margin: 0;
}

.til.science {
    padding: 8px;
    padding-top: 9px;
}

.til.science td {
    vertical-align: middle;
}

.til.science img {
    min-width: 35px;
    opacity: 0.3;
}

.til.science p {
    font-family: 'Slabo 27px', serif;
    font-size: 12px;
    padding-left: 7px;
}

.til.science footer.src {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: -7px;
    margin-top: -1px;
    bottom:0;
}
.til.science div.flair {
    font-size: 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 1px;
    opacity: 0.6;
    margin-top: 1px;
    /* margin-bottom: -7px;
    margin-top: -1px; */
}

h3.tight {
    letter-spacing: 7px;
}


/* MLB styles */

.mlb {
    box-sizing: border-box;
    padding: 6px 12px;
}

.mlb:before {
    content: "YESTERDAY'S GAME";
    position: absolute;
    top: -2px;
    left: 87px;
    width: auto;
    transform: translateX(-50%);
    font-size: 8px;
    font-weight: 200;
    letter-spacing: 2px;
    z-index: 100;
    /* background-color: #fff; */
    /* box-shadow: inset 0 0 0 1000px #fff; */
    /* background-image: url(./../img/blank.gif); */
    /* background-repeat: repeat; */
    color: #000;
    opacity: 0.8;
}

/* @media print {
    .mlb:before {
        background-color: #fff !important;
        -webkit-print-color-adjust: exact;
    }
} */

.mlb>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.mlb th,
.mlb td {
    vertical-align: middle;
    /* font-size: 11px; */
}

.mlb table.score {
    position: relative;
    display: flex;
    font-family: 'Roboto', serif;
    margin-top: 2px;
}

.mlb table.score .runs {
    font-size: 22px;
    width: 28px;
    font-weight: 100;
    text-align: center;
    padding: 4px 0;
    vertical-align: middle;
}

.mlb table.score .hits,
.mlb table.score .err {
    width: 18px;
    font-weight: 100;
    text-align: center;
}

.mlb table.score .team {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 200;
}

.mlb table.score img {
    width: 22px;
}

.mlb table.score .ticks {
    position: absolute;
    top: 29px;
    font-size: 7px;
    font-weight: 100;
    letter-spacing: 6px;
    right: 1px;
}

.mlb table.standings {
    display: flex;
    text-align: right;
    line-height: 11px;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    font-family: 'Roboto', serif;
}

.mlb table.standings th {
    font-weight: normal;
    color: #aaaaaa;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999999;
}

.mlb table.standings th,
.mlb table.standings td {
    text-align: right;
    padding: 0 5px;
}

.mlb table.standings th:nth-of-type(1),
.mlb table.standings td:nth-of-type(1) {
    width: 25px;
}

.mlb table.series {
    width: 50%;
    text-align: center;
    line-height: 13px;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    font-family: 'Roboto', serif;
}

.mlb table.series .s-des {
    font-weight: bold;
}
.mlb table.series .s-ven {
    font-size: 8px;
}
.mlb table.series .s-teams {
    font-size: 10px;
    line-height: 15px;    
}
.mlb table.series .s-score {
    font-size: 20px;
    line-height: 20px;  
    padding-top: 2px;  
}

.mlb table.series tbody,
.mlb table.series tr,
.mlb table.series td {
    width:100%;
}


/* These are the styles for DRAGULA */

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

#left>div,
#right>div {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.joke p:hover {
    cursor: text;
    cursor: -moz-text;
    cursor: -webkit-text;
}

.movies table{
    width: 100%;
    font-size: 10px;
}
.movies img.icon {
    width: 12px;
}
.movies .noscore {
    font-size: 7px;
    line-height: 15px;
}


/* --- toolbar --- */

.item aside.toolbar {
    display:none;
    position: absolute;
    right: 0;
    top: 0;
    /* background: #03a9f4;
    border: 1px solid #03a9f4; */
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
}

.item:hover aside.toolbar {
    display: block;
}

.item aside.toolbar button {}

.item aside.toolbar button.rm {
    background-color: #f44336;
    border: none;
    border-radius: 3px;
    opacity: 0.7;
}

aside.toolbar-margin {
    /* background-color:#f1f1f1; */
    padding: 0;
    /* padding: 50px; */
    /* display:none; */
    position: fixed;
    top: 500px;
    /* background: #03a9f4;
    border: 1px solid #03a9f4; */
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}

/* div.margin-adjust.left:hover aside.toolbar-margin,
div.margin-adjust.right:hover aside.toolbar-margin {
    display: block;
} */
.left aside.toolbar-margin{
    left: 0px;
}
.right aside.toolbar-margin {
    right: 0px; 
}
aside.toolbar-margin button {
    display: block;
    border: none;
    border-radius: 3px;
    opacity: 0.7;
    padding: 10px 15px;
}

aside.toolbar-margin button.mar-up,
aside.toolbar-margin button.mar-down {
    background-color: #2196f3;
}


/* ---- END ---- */

@media print {
     body {
        /* background-color: #fff !important; */
        /* background-image: url("./../img/blank.jpg") !important; */
        /* background-repeat: repeat !important; */
        -webkit-print-color-adjust: exact;
    } 
    .container {
        width: 100% !important;
    }
    .disclaimer {
        color: #ccc;
    }
    * {
        -webkit-print-color-adjust: exact;
    }
    body div.item aside.toolbar {
        display: none !important;
    }
    body aside.toolbar-margin {
        display: none !important;
    }
    #print-line {
        display: none !important;
    }
}


.well.formula1 {
    font-family: 'Oswald';
    
}
.well.formula1 table td {
    font-family: 'Oswald';
    padding:2px;
    font-size:12px;
}