body {
  font-family: 'Open Sans' Helvetica, Arial, sans-serif;
  background-image: url("blank.gif");
  background-repeat: repeat;
  -webkit-print-color-adjust: exact !important;
}
img {
  width: 100%;
}
p {
  line-height: 1.2em;
}
.row {
  margin: 15px 0;
}
.date, .day {
  position: absolute;
  display: inline-block;
  font-family: Verdana;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 11px;
}
.date {
  bottom: 0px;
  right: 5px;
  text-align: right;
}
.day {
  left: 14px;
}
.col-xs-6 .col-xs-12 {
  margin-bottom: 20px;
  padding: 0;
}
.col-xs-6 .col-xs-6 .col-xs-6 {
  margin-top: 0;
}
hr {
  margin: 10px 0;
}
h3 {
  text-align: center;
  text-transform: uppercase;
  color: #B1B1B1;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 10px;
  margin: 0 0 5px;
  margin-left: 10px;
}
h5 {
  text-align: center;
  color: #B1B1B1;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0 0 5px;
}
.well {
  /*min-height: 180px;*/
  margin: 0;
  line-height: 21px;
  text-align: center;
  background: transparent !important;
}
.well p:last-of-type {
  margin: 0;
}
.well .row {
  margin: 0;
}
.weather {
  padding: 15px;
}
.year {
  font-size: 165%;
  font-weight: 100;
  text-align: left;
  margin-left: -4px;
}
.history {
  font-size: 127%;
  text-align: left;
}
.excrept {
  text-align: left;
}
.fact {
  text-align: center;
  font-size: 16px;
}
.fact p {
  margin: 0;
}
.news {
  text-align: left;
}
.news div {
  font-family: georgia;
  line-height: 1.1em;
  font-size: 109%;
  margin-bottom: 5px;
}
.news p {
  font-family: helvetica;
  line-height: 1.1em;
  font-size: 93%;
  text-transform: uppercase;
}
.news p {
  border-bottom: 1px dotted #000;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: 100;
  letter-spacing: 2px;
}
.news p:last-of-type {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.etom {
  text-align: left;
}
.QA p:last-of-type {
  text-align: left;
  line-height: 1.45em;
  font-weight: 200;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
}
.QA p:first-of-type {
  font-family: cursive;
}
#whiteout {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}
.mast {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media print {
  body {
    background-color: #fff !important;
    background-image: url("blank.gif") !important;
    background-repeat: repeat !important;
    -webkit-print-color-adjust: exact;
  }
  * {
    -webkit-print-color-adjust: exact;
  }
  .container {
    width: 100% !important;
  }
}
