body {
    font-family: 'Open Sans' Helvetica, Arial, sans-serif;
    background-image: url("blank.gif");
    background-repeat: repeat;
    -webkit-print-color-adjust: exact !important;
}
img {
    width: 100%;
}
p {
    line-height: 1.2em;
}
.container {
    padding: 0;
}
.row {
    margin: 15px 0;
}
.logo-header {
    padding: 0;
    text-align: center;
    padding-bottom: 9px;
}
.date {
    font-family: Verdana;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 11px;
}
.day {
    left: 14px;
}
.col-xs-6.left {
    padding-left: 0;
}
.col-xs-6.right {
    padding-right: 0;
}
.col-xs-6 .col-xs-12 {
    padding: 0;
}
.col-xs-6.left .col-xs-12 {
    margin-bottom: 20px;
  }
.col-xs-6.right .col-xs-12 {
    margin-bottom: 20px;
}
.col-xs-6 .col-xs-6 .col-xs-6 {
    margin-top: 0;
}
hr {
    margin: 10px 0;
}
h3 {
    text-align: center;
    text-transform: uppercase;
    color: #B1B1B1;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 10px;
    margin: 0 0 5px;
    margin-left: 10px;
}
h5 {
    text-align: center;
    color: #B1B1B1;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 0 5px;
}
.well {
    /*min-height: 180px;*/
    padding: 16px;
    margin: 0;
    line-height: 21px;
    text-align: center;
    background: transparent !important;
}
.well p:last-of-type {
    margin: 0;
}
.well .row {
    margin: 0;
}
.weather {
    padding: 15px 5px;
}
.weather .col-xs-4 {
    padding: 0 2.5px;
}
.weather .col-xs-4 h5 {
    text-transform: lowercase;
}
.weather .col-xs-4 p {
    font-size: 12px;
    font-weight: 300;
}
.year {
    font-size: 165%;
    font-weight: 100;
    text-align: left;
    margin-left: -4px;
}
.history {
    font-size: 127%;
    text-align: left;
}
.excrept {
    text-align: left;
    font-size: 12px;
}
.joke {
    text-align: center;
    font-size: 14px;
}
.joke p {
    margin: 0;
}
.joke p:first-of-type {
    margin-bottom: 8px;
}
.til {
    text-align: left;
    font-size: 14px;
}
.til p {
    margin: 0;
}
.til p.src {
    text-align: right;
    font-size: 78%;
    font-style: italic;
    margin-top: 0;
    margin-bottom: -10px;
}
.news {
    text-align: left;
}
.news h2 {
    padding-bottom: 5px;
    border-bottom: 1px dotted #000;
    margin: 0;
    font-family: georgia;
    line-height: 1.1em;
    font-size: 19px;
    margin-bottom: 10px;
}
.news p {
    font-family: Times New Roman;
    text-align: justify;
    line-height: 1.1em;
    font-size: 93%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 100;
}
.news p:last-of-type {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.etom {
    text-align: left;
    font-size: 12px;
    margin-bottom: 4px;
}
.QA p:last-of-type {
    text-align: left;
    line-height: 1.2em;
    font-weight: 200;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 0 6px;
}
.QA p:first-of-type {
    font-family: cursive;
    letter-spacing: 0.25px;
}
.QA hr {
    margin: 5px 0;
}
#whiteout {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mast {
    position: relative;
    margin-top: 0;
    margin-bottom: 15px;
}
@media print {
    body {
        background-color: #fff !important;
        background-image: url("blank.gif") !important;
        background-repeat: repeat !important;
        -webkit-print-color-adjust: exact;
    }
    * {
        -webkit-print-color-adjust: exact;
    }
    .container {
        width: 100% !important;
    }
}
